.header a {
  color: #ffffff;
  text-decoration: none;
  font-size: 17px;
  margin-left: 36px;
}
.header a:hover {
  color: orange;
}

.signout {
  border-radius: 14px;
}
.signout:hover {
  background-color: aqua;
}
