.products-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
.products-title {
  text-align: center;
  color: brown;
}

@media screen and (max-width: 576px) {
  .products-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (min-width: 577px) and (max-width: 992px) {
  .products-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
